*.o
*.lo
*.dirstamp
*.tar.gz
*.zip
*.swp
*.m4
*.deps
*.log
gtest/
solvers/
m4/
autom4te.cache/
build-aux/
lib/
bench/
test/.libs/
test/se*
config.log
config.status
Makefile
Makefile.in
configure
libtool
